<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383553838073-3jlv4i8cjkm2uji2em2qc5ehkjc4e5pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383553838073-3jlv4i8cjkm2uji2em2qc5ehkjc4e5pq</string>
	<key>API_KEY</key>
	<string>AIzaSyDcPUQteinTjZFzDT0RJUyHpo50gAjZDog</string>
	<key>GCM_SENDER_ID</key>
	<string>383553838073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forabank.ru.chatquick</string>
	<key>PROJECT_ID</key>
	<string>forachat-c0d67</string>
	<key>STORAGE_BUCKET</key>
	<string>forachat-c0d67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:383553838073:ios:3b848d50503d3735cebb28</string>
	<key>DATABASE_URL</key>
	<string>https://forachat-c0d67.firebaseio.com</string>
</dict>
</plist>
