<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>card</key>
	<array>
		<dict>
			<key>image</key>
			<string>depositIcon</string>
			<key>text</key>
			<string>Начало действия карты</string>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Дата окончания действия карты</string>
			<key>image</key>
			<string>paymentIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Доступный остаток</string>
			<key>image</key>
			<string>limitIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Сумма заблокированных средств</string>
			<key>image</key>
			<string>shareIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Дата и время актуализации остатка</string>
			<key>image</key>
			<string>changePinIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Тариф</string>
			<key>image</key>
			<string>redLockIcon</string>
		</dict>
	</array>
	<key>account</key>
	<array>
		<dict>
			<key>image</key>
			<string>depositIcon</string>
			<key>text</key>
			<string>Пополнить счёт</string>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Платёж или перевод</string>
			<key>image</key>
			<string>paymentIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Поделиться реквизитами</string>
			<key>image</key>
			<string>shareIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Привязать карту</string>
			<key>image</key>
			<string>addCardIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Продлить срок действия</string>
			<key>image</key>
			<string>clockIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Заблокировать счёт</string>
			<key>image</key>
			<string>redLockIcon</string>
		</dict>
	</array>
	<key>loan</key>
	<array>
		<dict>
			<key>image</key>
			<string>depositIcon</string>
			<key>text</key>
			<string>Пополнить счёт</string>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Платёж или перевод</string>
			<key>image</key>
			<string>paymentIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Поделиться реквизитами</string>
			<key>image</key>
			<string>shareIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Привязать карту</string>
			<key>image</key>
			<string>addCardIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Продлить срок действия</string>
			<key>image</key>
			<string>clockIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Закрыть кредит</string>
			<key>image</key>
			<string>redLockIcon</string>
		</dict>
	</array>
	<key>deposit</key>
	<array>
		<dict>
			<key>image</key>
			<string>depositIcon</string>
			<key>text</key>
			<string>Доступно для снятия</string>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Дата открытия</string>
			<key>image</key>
			<string>paymentIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Дата окончания</string>
			<key>image</key>
			<string>shareIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Срок вклада</string>
			<key>image</key>
			<string>addCardIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Процентная ставка</string>
			<key>image</key>
			<string>clockIcon</string>
		</dict>
		<dict>
			<key>action</key>
			<string></string>
			<key>text</key>
			<string>Минимальный платёж</string>
			<key>image</key>
			<string>redLockIcon</string>
		</dict>
	</array>
</dict>
</plist>
