<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>bank100000000217:me2mepull.nspk.ru</string>
		<string>applinks:qr.nspk.ru</string>
		<string>applinks:sub.nspk.ru</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.forabank.betaapps</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.isimplelab.isimplemobile.forabank</string>
	</array>
</dict>
</plist>
